[Unit]
Description=GeoSpamBot
After=network.target postgresql.service
Requires=postgresql.service

[Service]
Type=simple
PrivateUsers=true
ProtectSystem=full
#ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true

WorkingDirectory=/home/telebot-user/230821-telethon-geolocate/
ExecStartPre=/bin/sleep 5
ExecStart=/home/telebot-user/230821-telethon-geolocate/bot_run.sh

User=telebot-user
Group=telebot-user
Restart=always
RestartSec=180

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target