[Unit]
Description=GeoSpamBot
After=network.target

[Service]
Type=simple
PrivateUsers=true
ProtectSystem=full
#ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true

WorkingDirectory=/telebot-server/230821-telethon-geolocate/

ExecStart=/telebot-server/230821-telethon-geolocate/venv/bin/python ./userbot/main.py

User=telebot-user
Group=telebot-user
Restart=always
RestartSec=180

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target