[Unit]
Description=GeoSpamBot
After=network.target

[Service]
Type=simple
PrivateUsers=true
ProtectSystem=full
#ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
NoNewPrivileges=true

WorkingDirectory=/home/telebot-user/230821-telethon-geolocate/

ExecStart=sh /home/telebot-user/230821-telethon-geolocate/manage_bot_start_all.sh

User=telebot-user
Group=telebot-user
Restart=always
RestartSec=60

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target